@mixin button{
    min-width: 130px;
            border: none;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            color: var(--black);
            border-radius: 5px;
            background: transparent;
            &:hover {
                background-color: var(--black-10);
            }
            &:active {
                background-color: var(--black-75);
            }
}

@mixin button-green {
    @include button;
    color: var(--white);
    background-color: var(--green);
    &:hover {
        background-color: var(--green-hover);
    }
    &:active {
        background-color: var(--green-active);
    }
}

@mixin button-black {
    @include button;
    color: var(--white);
    background-color: var(--black);
    &:hover {
        background-color: var(--black-hover);
    }
    &:active {
        background-color: var(--black-active);
    }
}

@mixin button-gray {
    @include button;
    color: var(--gray-0);
    background-color: var(--gray-3);
    &:hover {
        background-color: var(--gray-hover);
    }
    &:active {
        background-color: var(--gray-active);
    }
}

@mixin button-red {
    @include button;
    color: var(--white);
    background-color: var(--red);
    &:hover {
        background-color: var(--red-hover);
    }
    &:active {
        background-color: var(--red-active);
    }
}

@mixin button-blue {
    @include button;
    color: var(--white);
    background-color: var(--blue);
    &:hover {
        background-color: var(--blue-hover);
    }
    &:active {
        background-color: var(--blue-active);
    }
}