:root {
  --white: #fff;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-75: #000000bf;
  --dark-0: #333;
  --dark-1: #000000bf;
  --gray: #79756c;
  --gray-0: #707070;
  --gray-1: #7e7e7e;
  --gray-2: #9a9a99;
  --gray-3: #ccc;
  --gray-4: #00000029;
  --gray-5: #e5e3dfbf;
  --gray-6: #f8f8f8;
  --gray-7: #e5e3df;
  --gray-8: #ddd;
  --gray-9: #999;
  --gray-10: #eee;
  --gray-11: #444;
  --gray-12: #e8e8e8;
  --red: #e32119;
  --red-hover: #e4423b;
  --red-active: #c91d16;
  --green: #00994d;
  --green-hover: #00be60;
  --green-active: #00773c;
  --blue: #00a0e6;
  --blue-hover: #1cabe9;
  --blue-active: #199bd4;

  --success: #d4edda;
  --success-border: #c3e6cb;
  --success-color: #155724;

  --danger: #f8d7da;
  --danger-border: #f5c6cb;
  --danger-color: #721c24;

  --space: 20px;
  --border-radius: 5px;

  --space: 20px;
}
